<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US"
  itemscope="" itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords | join:', ' | xml_escape }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <section>
      <header class="header">
        <a href="/about.html">
          <img src="/images/erik-larson.jpg" class="photo" alt="Erik Larson"/>
        </a>
        <nav>
          <ul>
            <li><a href="https://twitter.com/intent/follow?screen_name=thaxist">Twitter</a></li>
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
            <li><a href="https://www.linkedin.com/in/erik-larson-b287ba9">LinkedIn</a></li>
            <li><a href="mailto:erik@thaxist.com">erik@thaxist.com</a></li>
          </ul>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about.html">bio</a></li>
            <li><a href="/articles.html">articles</a></li>
            <li><a href="/books.html">books</a></li>
          </ul>
        </nav>
        <div class="search">
          <form method="get" action="https://www.google.com/search">
            <input name="sitesearch" value="thaxist.com" type="hidden"/>
            <input type="text" name="q" placeholder="Search" autocomplete="off" size="40"/>
          </form>
        </div>
      </header>
      {{ content }}
    </section>
  </body>
</html>
